<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--servlet标签给tomcat配置servlet程序-->
    <servlet>
        <!--servlet-name标签：给servlet程序起一个别名（一般是类名）-->
        <servlet-name>helloservlet</servlet-name>
        <!--servlet-class是servlet程序的全类名-->
        <servlet-class>一个包.helloservlet</servlet-class>
        <!--inir-param是初始化参数-->
        <init-param>
            <!--参数名-->
            <param-name>url</param-name>
            <!--参数值-->
            <param-value>jbdc:mysql://localhost:8080/text</param-value>
        </init-param>
        <init-param>
            <!--参数名-->
            <param-name>username</param-name>
            <!--参数值-->
            <param-value>root</param-value>
        </init-param>
    </servlet>
    <!--servlet-mapping标签给servlet程序配置访问地址-->
    <servlet-mapping>
        <!--servlet-name作用是告诉服务器，我当前配置的地址给哪个serlvet程序使用-->
        <servlet-name>helloservlet</servlet-name>
        <!--url-pattern标签配置访问地址
            /斜杠在服务器解析的时候，表示地址为：http://ip:port/工程路径
            /hello表示地址为：http://ip:port/工程路径/hello 可以自定义-->
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>helloservlet2</servlet-name>
        <servlet-class>一个包.helloservlet2</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>helloservlet2</servlet-name>
        <url-pattern>/hello2</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>helloservlet3</servlet-name>
    <servlet-class>一个包.helloservlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloservlet3</servlet-name>
        <url-pattern>/hello3</url-pattern>
    </servlet-mapping>
</web-app>